body {

	color            : #404040;
	background-color : black;
	font-family      : monospace;
	font-size        : 14px;
	font-style       : normal;
	font-variant     : normal;
	font-weight      : 400;
	line-height      : 20px;
	white-space      : pre-line;
}
span {
	color            : #242220;
	background-color : #e0dfd0;
	font-family      : monospace;
	font-size        : 32px;
	font-style       : normal;
	font-variant     : normal;
	font-weight      : 400;
	line-height      : 40px;
	white-space      : pre-line;
}
input {
	color            : #e0dfd0;
	background-color : #242220;
	font-family      : monospace;
	font-size        : 32px;
	font-style       : normal;
	font-variant     : normal;
	font-weight      : 400;
	line-height      : 20px;
	white-space      : pre-line;
}
