body {
	margin           : 0px;
	padding          : 0px;
	text-align       : center;
	color            : #a0a0a0;
	background-color : #404040;
    text-align       : center;
	font-family      : monospace;
	font-size        : 14px;
	font-style       : normal;
	font-variant     : normal;
	font-weight      : 400;
	line-height      : 20px;
	white-space      : pre-line;
}
span {
	background-color : #606060;
    color            : #202020;
	text-align       : center;
	font-family      : monospace;
	font-size        : 32px;
	font-style       : normal;
	font-variant     : normal;
	font-weight      : 400;
	line-height      : 40px;
}
span.list {
	background-color : #3e3e3e;
    color            : #102030;
	text-align       : justify;
	font-family      : monospace;
	font-size        : 12px;
	font-style       : normal;
	font-variant     : normal;
	font-weight      : 400;
	line-height      : 0px;
}
span.lft {
	background-color : #508050;
	background-color : #708050;
	font-size        : 24px;
	text-align       : right;
}
span.rgt {
	background-color : #805050;
	font-size        : 24px;
	text-align       : left;
}
span.org {
	background-color : #707070;
	font-size        : 32px;
	text-align       : center;
}
span.prv {
	background-color : #306080;
	font-size        : 20px;
	text-align       : center;
}
span.outpAdd {
	margin           : auto;
	color            : #202020;
	background-color : #606060;
	font-size        : 16px;
}
table {
	background-color : #585858;
	width            : 80%;
	margin           : auto;
}
td {
	vertical-align   : middle;
	background-color : #444444;
	width            : 30%;
	margin           : auto;
}
